# Ambiente Virtual e Python
.venv/
__pycache__/
*.pyc

# Segurança e Configurações
.env
config.py

# Banco de Dados e Relatórios (Dados locais)
bot.db
relatorio_vendas_*.csv
relatorio_vendas_*.html

# Logs
*.log